.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}

.cart-info{
    text-align: center;
}

.cart-btn1{
    color: green;
    font-size: large;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.cart-btn2{
    color: purple;
    font-size: large;
    padding: 5px 10px;
    border-radius: 5px;
}